@{
    ViewData["Title"] = "About Finanstilsynet";
}
<img src="~/images/asdsad.jpg" alt="Finanstilsynet" class="img-fluid">
<h2>@ViewData["Title"]</h2>
<p>Finanstilsynet, also known as the Danish Financial Supervisory Authority, serves as Denmark's government body tasked with overseeing the financial industry. Positioned under the Ministry of Industry, Business, and Financial Affairs, its primary objective is to safeguard the stability and integrity of Denmark's financial systems.</p>

<h3>Our Key Functions</h3>
<ul>
    <li><strong>Supervision:</strong> We oversee a broad spectrum of financial entities including banks, mortgage institutions, insurance and pension funds, investment funds, and securities markets. Our supervision ensures that these institutions adhere to financial laws and operate safely and soundly.</li>
    <li><strong>Regulation:</strong> Finanstilsynet plays a pivotal role in developing financial regulations and guidelines that align with both national laws and international standards, including EU directives.</li>
    <li><strong>Consumer Protection:</strong> A core aspect of our mission is to protect consumers in the financial marketplace, promoting transparency and fairness.</li>
    <li><strong>Financial Stability:</strong> We continuously monitor the financial stability of the sector, identifying risks and vulnerabilities, and taking measures to mitigate any potential adverse effects on the Danish economy.</li>
    <li><strong>Crisis Management:</strong> In times of financial distress or institutional failure, Finanstilsynet is crucial in implementing strategies to secure the economy and protect consumers.</li>
</ul>

<p>Through these activities, Finanstilsynet is committed to maintaining a secure and trustworthy financial environment in Denmark.</p>


<h4>Side suplimented by Milan OR Victor A/S</h4>
<img src="~/images/output.png" alt="Finanstilsynet" class="img-fluid">
