@using Models

@model Laptop

@{
    ViewData["Title"] = "Manage Laptop";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-3">
    <h2>@ViewData["Title"]</h2>

    <form id="personalComputerForm" asp-action="UpdateLaptop" asp-controller="ProductCatalog" method="post">
        <div class="form-group">
            <label asp-for="ModelId">Model ID</label>
            <input asp-for="ModelId" class="form-control" disabled />
            <input type="hidden" asp-for="ModelId" />
        </div>
        <div class="form-group">
            <label asp-for="Speed">PC speed</label>
            <input asp-for="Speed" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <label asp-for="Ram">PC RAM</label>
            <input asp-for="Ram" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <label asp-for="HardDisk">Laptop hard disk</label>
            <input asp-for="HardDisk" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <label asp-for="Screen">Laptop screen</label>
            <input asp-for="Screen" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control" type="number" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <hr />
</div>